body{
    margin: 0;
    padding: 0;
    background-color: bisque;
    text-align: center;
    
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;
    width: 1250px;

}

.game{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 306px;
    width: 306px;
    flex-wrap: wrap;
    
}


.box{
    height:102px;
    width:102px;
    border: 2px solid black;
    border-radius: 1rem;
    font-size: 2rem;

}

#reset-btn{
    padding:1rem;
    border-radius: 1rem;
}

.disabled{
    pointer-events: none;
}